@tailwind base;
@tailwind components;
@tailwind utilities;



/* small design system */
:root{
  --brand: #111827; /* slate-900 */
  --accent: #ef4444; /* red-500 */
}
body { @apply bg-gray-50 text-gray-900; }

